h1,
p {
  font-family: Lato;
}
.meraba {
  color: red;
  padding: 16%;
  margin: 10;
  position: absolute;
  font-size: 150%;
}
.meraba .profil img {
  border-radius: 90px;
  position: fixed;
  top: 35%;
  left: 68%;

  width: 300px;
}
body {
  padding: 0;
  margin: 0;
}
.meraba .profil {
  background-color: blue;
  width: 450px;
  height: 340px;
  border-radius: 40% 60% 68% 32% / 30% 36% 64% 70%;
  position: fixed;
  top: 30%;
  left: 60%;
}
*
{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

a
{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    color: #5a84a2;
    font-size: 18px;
    border-radius: 40px;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    2px 2px 8px rgba(0, 0, 0, 0.15);
}
a:hover
{
    box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
    inset -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    inset 2px 2px 8px rgba(0, 0, 0, 0.15);  
}
a:hover span
{
    display: inline-block;
    transform: scale(0.98);
}